language: python

python:
  - "3.6.5"

services:
  - mysql

before_install:
  - mysql -e 'CREATE DATABASE decaptcha;'

test:
  adapter: mysql
  database: "decaptcha"
  timeout: 500

install:
  - pip install -e .
  - pip install django-coverage
  - pip install django
  - pip install codecov

before_script:
  - python testproj/manage.py migrate

script:
  - python testproj/manage.py test decaptcha

